<form class="login-form p-5">
  <div class="mb-3">
   <label for="user-login" class="form-label">username:</label>
    <input type="text" id="user-login" />
  </div>
  <div>
    <label for="password-login" class="form-label">password:</label>
    <input type="password" id="password-login" autocomplete="on"/>
  </div>
  <div>
    <button type="submit">login</button>
  </div>
  <div>
   <a href="/signup">Signup Instead</a>
  </div>
</form>


<script src="../public/javascript/login.js"></script>