<form class="login-form p-5">
  <div class="mb-3">
   <label for="user-login" class="form-label">username:</label>
    <input type="text" id="user-login" />
  </div>
  <div>
    <label for="password-login" class="form-label">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="signup-form p-5">
  <div>
    <label for="username-signup" class="form-label">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup" class="form-label p-3">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup" class="form-label">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="../public/javascript/login.js"></script>