<form class="signup-form p-4">
  <div>
    <h2 class="p-1">Signup Here</h2>
    <label for="username-signup" class="form-label">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup" class="form-label">password:</label>
    <input type="password" id="password-signup" autocomplete="on"/>
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
  <a class="login-link" href="/login">Log in instead</a>
</form>

<script src="/javascript/signup.js"></script>